.portfolio_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem ;
    margin: 0 10%;
}
.portfolio_item{
    background-color: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;

}
.portfolio_item .imagen {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 2rem;
    border: 1px solid transparent;
}


/* ============= MEDIA QUERIES (MIDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {

    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}