header{
    height: 100vh;
    padding-top: 15vh;
    position: relative;
    display:grid;
    grid-template-areas: 
    "section_me"
    "photo_me"
    "cta"
    "header_social";
}

.header_container{
    position: relative;
    display: grid;
    grid-template: 
    "section_me photo_me" auto
    "cta photo_me" auto
    "header_social photo_me" auto/
    70% 30%; /* rows y arriba son las columnas*/
    & section{
        grid-area: section_me;
    }
}



/* =============== CTA ========== */
.cta{
    grid-area: cta;
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============ HEADER SOCIALS ============== */
.header_social{
    grid-area: header_social;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    position: absolute;
    left: 0;
    bottom: 15rem;
}

.header_social::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}


/* ============= ME ============== */
.header_container .me{
    grid-area: photo_me;
    /* background-color: var(--color-primary); */
    background-image: linear-gradient(var(--color-primary), var(--color-bg));
    width: 25rem;
    height: 25rem;
    position: absolute;
    margin-top: 4rem;
    overflow: hidden;
    border-radius: 15rem 15rem 15rem 15rem ;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15rem 15rem 15rem 15rem ;      
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    }
    animation: float 4s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2rem) scale(1.05);
    }
}


/* ============= SCROLL DOWN ============== */
.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 15rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: .9rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ============= */
@media screen and (max-width:1024px) {
    header{
        height: 88vh;
    }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ============= */
@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
    .header_social, .scroll_down{
        display: none;
    }
} 