header{
    height: 100vh;
    position: relative;
    display:grid;
    grid-template-areas: 
    "section_me"
    "photo_me"
    "cta"
    "header_social";
}

.header_container{
    position: relative;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: 
    "section_me photo_me" auto
    "cta photo_me" 50px
    "header_social photo_me" auto/
    30% 70%; /* rows y arriba son las columnas*/
    & section{
        grid-area: section_me;
    }
}
/*================= whoami ================ */
.whoami{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 50px;
    & h1{
        font-size: 3.5rem;
        color: var(--color-primary);
    }
    & h5{
        font-size: 2rem;
        color: var( --color-light);
    }
    & p{
        font-size: 1.2rem;
        color: var(--color-primary);
    }
}




/* =============== CTA ========== */
.cta{
    grid-area: cta;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    & a{
        height: 50px;
    }
}

/* ============ HEADER SOCIALS ============== */
.header_social{
    grid-area: header_social;
    display: flex;
    justify-content: center;
    gap: .8rem;
    margin-top:10%;
    & a{
        color: var(--color-primary);
        font-size: 1.5rem;
        height: 100%;
    }
}

/* ============= ME ============== */
.header_container .me{
    grid-area: photo_me;
    /* background-color: var(--color-primary); */
    /*background-image: linear-gradient(var(--color-primary), var(--color-bg));*/
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    /*border-radius: 15rem 15rem 15rem 15rem ;*/

}
/* ================ wave hand ============= */
.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }